.button{
    // display: inline-block;
    background-color: $accent;
    font-family: $firasans-bold;
    color: $text-dark;
    border-radius: 20px;
    padding: 11px 22px 13px;
    border: none;
    transition: all .25s ease-in;
    &:hover,
    &:active {
        background-color: $input-wrong;
        color: $bg-color;
        
    }
    &:active {
        box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    }
}

.button--small {
    min-width: 110px;
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
        min-width: 265px;
        &:hover,
        &:active {
        background-color: $input-wrong;
        color: $bg-color;
    }
}
}

.button__icon-lock {
    fill: rgba($color: $text-color, $alpha: 0.5);
    text-align: center;
    margin-right: 14px;
    transition: all .25s ease-in;
}

.button--small:hover .button__icon-lock {
    fill: rgba($color: $bg-color, $alpha: 0.5);  
}

.button--size-middle {
    border-radius: 28px;
    padding: 20px 50px;
    &:hover {
       background-color: $accent-dark;
       color: $text-dark; 
    }
    &:active {
        background-color: $accent-dark;
        color: $text-dark;
    }
}

.button--transparent {
    border-radius: 25px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $accent;
    color: $text-dark; 
    &:hover {
       background-color: $accent;
       color: $text-dark;
       
    }
    &:active {
        background-color: $accent-dark;
    }
}

.button-request {
    display: inline-block;
    padding: 19px 64px 19px 50px;
    border-radius: 30px;
    position: relative;
    &::after {
        @include pseudo;
        width: 21px;
        height: 21px;
        background-image: url("../img/icons/chevron.svg");
        background-repeat: no-repeat;
        background-size: 21px 21px;
        top: 50%;
        margin-top: -11px;
        right: 17px;
        opacity: 0.4;
    }
    &:hover {
       background-color: $accent-dark;
       color: $text-dark;
       
    }
    &:active {
        background-color: $accent-dark;
        box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    }
}

.button-request.form__button {
    @media (max-width: 600px) {
        padding: 19px 40px 19px 20px;
        width: 100%;
    }
}

.button-request--info {
    display: inline-block;
    padding: 19px 30px 19px 60px;
    box-shadow: 0 0 0 7px rgba(244, 215, 92, 0.36);
    border-radius: 30px;
    position: relative;
    &::after {
        @include pseudo;
        width: 21px;
        height: 21px;
        background-image: url("../img/icons/chevron.svg");
        background-repeat: no-repeat;
        background-size: 21px 21px;
        top: 50%;
        margin-top: -11px;
        left: 17px;
        opacity: 0.4;
        @media (max-width: 600px) {
        display: none;
    }
    }
    &:hover {
       background-color: $accent;
       color: $text-dark;
       
    }
    &:active {
        background-color: $accent;
        color: $text-dark;
        box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    }
    @media (max-width: 600px) {
        padding: 19px 30px;
    }
}

.button-reviews {
    display: inline-block;
    padding: 16px 76px 16px 53px;
    border-radius: 25px;
    position: relative;
    &::after {
        @include pseudo;
        width: 27px;
        height: 24px;
        background-image: url("../img/icons/chat.svg");
        background-repeat: no-repeat;
        background-size: 27px 24px;
        top: 50%;
        margin-top: -12px;
        right: 30px;
        opacity: 0.4;
    }
    &:hover {
       background-color: $accent-dark;
       color: $text-dark;
       
    }
    &:active {
        background-color: $accent-dark;
        box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    }
}