.footer {
    width: 100%;
    max-width: 1920px;
    background-color: $text-color;
    padding: 35px 0 25px;
    ul{
        @include list-norm;
        padding-bottom: 30px;
        li {
            padding-bottom: 10px;
        }
        a {
            color: $text-light;
            font-size: 0.9em;
            text-transform: uppercase;
            &:hover {
                color: $bg-color;
            }

        }
    }
    
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    &:first-child {
        border-bottom: 1px solid rgba($color: $bg-color, $alpha: 0.1);
    }
}

.footer__col {
    margin-bottom: 30px;
}

.footer__title {
    color: $bg-color;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer__title--contacts {
    color: $text-color;
    padding-bottom: 3px;
}

.footer__phone {
    display: inline-block;
    margin-left: auto;
    font-size: 1.28em;
    font-family: $firasans-medium;
    padding-bottom: 12px;
    color: $bg-color;

}

.footer__adress {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    color: $bg-color;
    padding-bottom: 10px;
}

.footer__mail {
    color: $opposite-light;
}

.footer__copyright {
    width: 100%;
    color: $bg-color;
    font-size: 0.85em;
    text-align: center;
}