.form {
    max-width: 880px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 15px 54px 0 rgba(0, 0, 0, 0.15);
    background-color: $bg-color;
    padding: 18px 40px 21px 25px;
    position: relative;
    z-index: 10;
    @media (max-width: 600px) {
       padding: 18px 20px 23px; 
    }
}

.form__title {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 19px;
    font-family: $firasans-bold;
    color: $text-dark;
    @media (max-width: 600px) {
       font-size: 12px; 
    }
}

.form__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.form__wrapper--price {
    @media (max-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.form__input {
    width: 100%;
    padding: 15px 17px;
    border-radius: 2px;
    border: solid 1px #ecedef;
    background-color: $input-gray;
    color: $text-dark;
    font-size: 12px;
    margin-bottom: 15px;
    transition: all .25 ease-out;
    &:hover {
        border-color: #d6d8e0;
    }
    &:focus {
        background-color: $input-gray;
    }
}

.form__autocomplete {
    color: $text-dark;
}

input::placeholder,
input::-moz-placeholder  {
    color: $text-dark;
    opacity: 1;
}

.form__label.invalid .form__input {
    border-color: $input-wrong;
}

.form__warning {
    display: none;
    font-size: 11px;
    color: $input-wrong;
    margin-top: -13px;
}

.form__label.invalid .form__warning {
    display: block;
}

.form__input--full {
    width: 100%;
}

.form__input-wrapper {
    display: flex;
    justify-content: space-between;
    .form__input-warning {
        width: 49%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .form__label {
        width: 49%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .form__input {
        width: 100%;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 15px;
    }
}

.form__input-warning .form__input {
    width: 100%;
}

.form__input--textarea {
    display: block;
    width: 100%;
    resize: none;
}

.form__input {
    transition: all 0.3s ease-in;
}

.form__label {
    display: block;
    margin-bottom: 3px;
}

.form__label--full .form__input {
    width: 100%;
}

.form__label-text {
    cursor: text;
    font-size: 12px;
    transform: translateY(-45px);
    transition: all 0.3s ease-in;
    color: #434448;
    padding-left: 17px;
    position: absolute;
}

.form__input:focus + .form__label-text,
.form__input:valid + .form__label-text {
    transform: translateY(-60px);
    font-size: 9px;
}

.form__label-text--textarea {
    transform: translateY(-70px)
}

.form__input:focus + .form__label-text--textarea,
.form__input:valid + .form__label-text--textarea {
    transform: translateY(-80px)
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}

.form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__note {
    padding: 0;
    margin: 0;
    max-width: 360px;
    font-size: 12px;
    a {
        color: $opposite;
        text-decoration: underline;
    }
    span {
        font-family: $firasans-bold;
    }
    padding-left: 40px;
    display: inline-block;
    background-image: url("../img/icons/information.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px 24px;
    position: relative;
    @media (max-width: 600px) {
            display: none;
        }
    &::before {
        @include pseudo;
        width: 16px;
        height: 16px;
        left: 4px;
        top: 4px;
        background-color: $accent;
        border-radius: 50%;
        z-index: -1;
        @media (max-width: 600px) {
            display: none;
        }
    }
}
.form__note--mobile {
    display: none;
    font-size: 11px;
    max-width: 145px;
    margin: 0;
    padding: 0;
     line-height: 14px;
    a {
        color: $opposite;
        text-decoration: underline;
        
    }
    span {
        font-family: $firasans-bold;
        margin-top: -5px;
    }
    @media (max-width: 600px) {
            display: block;
            order: 3;
        }
}

.form__select {
    width: 100%;
    padding: 14px 15px;
    border-radius: 2px;
    border: solid 1px #ecedef;
    background-color: $input-gray;
    color: $text-dark;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    transition: all .25 ease-out;
    outline: none;
    &:hover {
        border-color: #d6d8e0;
    }
    &:focus {
        background-color: $input-gray;
    }
}

.form__input-wrap {
    display: inline-block;
    position: relative;
    width: 32%;
    @media (max-width: 600px) {
        width: 100%;
    }
    &::after {
        @include pseudo;
        width: 33px;
        height: 44px;
        background-color: #f8f9fa;
        background-image: url("../img/icons/sort-down.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 6px 4px;
        right: 1px;
        top: 1px;
        pointer-events: none;
    }
}

.form__option {
    font-size: 12px;
    font-weight: 400;
    color: #434448;
}

select > .placeholder {
  display: none;
}

.form__input-whitespace-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 32%;
    order:2;
    @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
    }
}

.form__input-whitespace-wrapper .form__input-wrap {
    width: 50%;
    @media (max-width: 600px) {
        width: 100%;
    }
}

.form__input-wrap--type,
.form__select--type {
    border-left: none;
}

.form__select--volume {
    border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}

.form__promo {
    position: relative;
    width: 257px;
    height: 45px;
    width: 32%;
    @media (max-width: 600px) {
        width: 100%;
        order:1;
    }
}

.form__promo-note { 
    display: inline-block;
    color: #2b2a7b;
    font-size: 12px;
    line-height: 13px;
    padding: 0;
    margin-left: 20px;
    border-bottom: 1px dashed $text-dark;
    font-family: $firasans-bold;
    position: relative;
    cursor: pointer;
    padding-top: 16px;
    @media (max-width: 600px) {
        text-align: center;
        padding-top: 10px;
    }
}

.form__promo-note::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 8px;
    background-image: url("../img/icons/check-symbol.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px 8px;
    top: 19px;
    left: -17px;
    @media (max-width: 600px) {
        top: 13px;
    }
}

.form__price {
    font-family: $firasans-semibold;
    color: $text-dark;
    max-width: 150px;
    @media (max-width: 600px) {
        max-width: 100px;
        font-size: 10px;
        order: 2;
    }
    
}

.form__hidden {
    @media (max-width: 600px) {
        display: none;
    }
}

.form__price--value {
    color: $opposite;
    font-size: 19px;
    margin-top: 5px;
    line-height: 25px;
}

.form__button {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

// styles for autocomplete

.autocomplete {
    background: #f8f8fa;
    z-index: 1000;
    font-family: $firasans;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #ecedef;
}

// form for autors page

.form--autors {
    .form__wrapper {
        display: block;
    }
    .form__note {
        max-width: none;
        background-image: none;
        padding-left: 20px;
        &::before {
            content: none;
        }
    }
}

.button__form-autors {
    margin: auto;
    @media (max-width: 768px) {
        order: 2;
    }
}

.form--autors .form__button-wrapper {
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.form--autors .form__note {
    @media (max-width: 768px) {
        display: block;
        margin-bottom: 15px;
        text-align: center;
        padding-left: 0;
    }
}


textarea {
    min-height: 80px;
    resize: none;
}

.form__item {
    position: relative;
}

.form__item .form__item-label {
    position: absolute;
    bottom: 100%;
    top: -13px;
    padding-left: 17px;
    right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    color: #434448;
    pointer-events: none;
    cursor: text;
    transform: translate3d(0,28px,0) scale(1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    transform-origin: left top;
}

.form__item.focused .form__item-label {
    transform: translate3d(0,15px,0) scale(.75);
    transition: width cubic-bezier(.25,.8,.25,1) .4s;
    transition: transform cubic-bezier(.25,.8,.25,1) .4s, width cubic-bezier(.25,.8,.25,1) .4s;
    transition: transform cubic-bezier(.25,.8,.25,1) .4s, width cubic-bezier(.25,.8,.25,1) .4s;
    padding-left: 24px;
}

// styles for promocode-input

.form__promo .form__input--promo {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
}

.form__promo .form__item-label--promo {
    color: transparent;
}

.form__promo.active .form__input--promo {
    display: block;
}

.form__promo.active .form__item-label--promo {
    color: #434448;
    z-index: 99999;
}

.form__promo.active .form__promo-note {
    display: none;
}


// form for contacts-page

.form--contacts {
    background-color: transparent;
    box-shadow: none;
    max-width: 590px;
    padding: 0;
    margin: auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form__wrapper {
        display: block;
    }
    .form__note {
        max-width: none;
        background-image: none;
        padding-left: 20px;
        &::before {
            content: none;
        }
    }
    textarea {
        min-height: 155px;
        margin-bottom: 0;
    }
}

.form--contacts .form__input {
    padding: 27px 20px 10px 17px;
    font-size: 16px;
    font-family: $firasans-medium;
}

.form--contacts .form__item-label {
    font-size: 14px;
    color: $text-dark;
}

.form--contacts .form__item .form__item-label {
    position: absolute;
    bottom: 100%;
    top: -13px;
    min-height: 25px;
    padding-left: 17px;
    right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    color: $text-dark;
    pointer-events: none;
    cursor: text;
    transform: translate3d(0,34px,0) scale(1);
    transition: transform .4s cubic-bezier(.25,.8,.25,1);
    transform-origin: left top;
}

.form--contacts .form__item.focused .form__item-label {
    transform: translate3d(0,25px,0) scale(.75);
    transition: width cubic-bezier(.25,.8,.25,1) .4s;
    transition: transform cubic-bezier(.25,.8,.25,1) .4s, width cubic-bezier(.25,.8,.25,1) .4s;
    transition: transform cubic-bezier(.25,.8,.25,1) .4s, width cubic-bezier(.25,.8,.25,1) .4s;
    padding-left: 24px;
}

.form--contacts .form__input-wrapper {
    @media (max-width: 600px) {
        flex-direction: column;
        width: 100%;
    }
    .form__label {
        @media (max-width: 600px) {
        width: 100%;
    }
    }
}

.form__checkbox-item {
    text-align: center;
}

.form__input-checkbox {
    left: 27px;
    z-index: 24;
    width: 20px;
    top: 5px;
    height: 20px;
    opacity: 0;
}

.form__checkbox-item a {
    color: #80808c;
    text-decoration: underline;
}

.form--contacts .form__input-checkbox {
    position: relative;
}

.form--contacts .form__input-checkbox + label {
    padding-left: 30px;
    font-size: 11px;
    line-height: 18px;
    color: #80808c;
    position: relative;
}

.form__input-checkbox + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 1.5px;
    border: solid 1px #ecedef;
    background-color: #f8f8fa;
    left: 0;
    top: -6px;
}

 label::after {
    display: none;
}


.form__input-checkbox:checked ~ label::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 9px;
    background-image: url("../img/check-symbol.png");
    background-repeat: no-repeat;
    background-size: 11px 9px;
    background-position: center;
    z-index: 10;
    left: 6px;
    top: 1px;
    display: block;

}

.form--contacts__button-wrapper {
    margin: auto;
    margin-top: 22px;
}

.form--contacts__button-request {
    padding: 19px 80px;
}

.form-section {
    width: auto;
    max-width: 900px;
    padding: 10px;
    border-radius: 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23D3D5DC69' stroke-width='4' stroke-dasharray='8%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.iti__flag {background-image: url("../img/flags.png");}

.iti {
    width: 100%;
}