.header-block {
    max-width: 1920px;
    // background-image: url("../img/Иллюстрации/main_image.svg") no-repeat top right, url("../img/bg-gradient.png") no-repeat ;

    background-image: url("../img/bg-gradient.png");
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
    background-position: left -19%;
    &::before {
        @include pseudo;
        width: 76px;
        height: 350px;
        background-image: url("../img/rocket.png");
        background-repeat: no-repeat;
        background-position: center;
        top: 120px;
        left: 90px;
        z-index: -1;
        @media (max-width:768px) {
            display: none;
        }
    }
}

.header-block h1 {
    max-width: 600px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    @media (max-width:768px) {
        margin-bottom: 15px;
    }
    
}