.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 20px 20px;
    flex-wrap: wrap;
}

.header__phone {
    margin-left: auto;
    font-size: 1.28em;
    font-family: $firasans-medium;
    a {
        color: $text-color;
    }
}

.header__button {
    margin-left: 20px;
}

.header__social {
    display: none;
}

.header__menu-hamb {
    display: none;
    width: 53px;
    height: 56px;
    span {
      width: 40px;
      height: 3px;
      background-color: $text-dark;
      margin-bottom: 5px;  
    }
}