.header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 20px 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: $bg-color;
    @media (max-width:768px) {
        background-image: url("../img/bg-close.png");
        background-repeat: no-repeat;
        background-position: left top;
        min-height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-content: flex-start;
        position: fixed;
        z-index: 999;
    }
    @media (max-width:768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header__menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 0;
        background-image: url("../img/bg-open.png");
        background-repeat: no-repeat;
        background-position: left top;
    }
}

.header__phone {
    margin-left: auto;
    font-size: 1.28em;
    font-family: $firasans-medium;
    a {
        color: $text-color;
    }
    @media (max-width: 768px) {
        display: block;
        position: absolute;
        right: 20px;
    }
}

.header__phone-mobile {
    display: none;
    font-size: 1.28em;
    font-family: $firasans-medium;
    a {
        color: $text-color;
    }
    @media (max-width: 768px) {
        display: block;
        // margin-right: 40px;
    }
}

.header__phone-text {
    display: none;
    @media (max-width: 768px) {
        display: inline-block;
        font-family: $firasans-bold;
        font-size: 17px;
        margin: 0;
        padding: 0;
        align-self: flex-start;
        margin-left: 72px;
    }
}

.header__button {
    margin-left: 20px;
    @media (max-width: 768px) {
        transform: translatex(-97vw);
        /* ie workaround */
        -ms-transform: translatex(97vw);
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 30px;
    }
}

.header__social {
    display: none;
    p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    @media (max-width: 768px) {
        display: block;
        transform: translatex(-97vw);
        /* ie workaround */
        -ms-transform: translatex(97vw);
    }
}

