.header-block {
    max-width: 1920px;
    background-image:   url("../img/Иллюстрации/main_image.svg"), 
                        url("../img/background-gradient.png");
    background-repeat: no-repeat, no-repeat;
    overflow-x: hidden;
    position: relative;
    background-position: right -45px top, left bottom -125px;
    background-size: 903px auto, auto;
    @media (max-width: 1600px) {
        background-position: right -200px top, left bottom;
    }
    @media (max-width: 1440px) {
        background-position: right -300px top, left bottom;
    }
    @media (max-width: 1024px) {
        background-position: right -100px top, left bottom;
        background-size: 450px auto, auto;
    }
    @media (max-width: 768px) {
        background-image:   url("../img/general-bg-small.png"), 
                            url("../img/background-gradient.png");
        background-position: right top, left bottom;
        background-size: 160px auto, auto;
    }
    &::before {
        @include pseudo;
        width: 76px;
        height: 350px;
        background-image: url("../img/rocket.png");
        background-repeat: no-repeat;
        background-position: center;
        top: 155px;
        left: 60px;
        z-index: -1;
        @media (max-width:1280px) {
            display: none;
        }
    }
}

.header-block.header-block--index {
    background-image:   url("../img/Иллюстрации/main_image.svg"), 
                        url("../img/background-gradient.png");
    background-position: right -45px top, left bottom 10px;
    @media (max-width: 1440px) {
        background-position: right -230px top, left bottom;
    }
    @media (max-width: 1024px) {
        background-position: right -100px top, left bottom;
        background-size: 600px auto, auto;
    }
    @media (max-width: 768px) {
        background-image:   url("../img/general-bg-small.png"), 
                            url("../img/background-gradient.png");
        background-position: right top, left bottom;
        background-size: 160px auto, auto;
    }
}


.header-block h1 {
    max-width: 600px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    padding-top: 20px;
    @media (max-width:768px) {
        margin-bottom: 15px;
    }
    @media (max-width:600px) {
        padding-top: 0;
        max-width: 80%;
    }
    
}