.howto .page-title {
    padding: 0;
    padding-top: 37px;
    margin: 0 auto 75px;
    text-align: center;
    @media (max-width: 768px) {
        padding-top: 25px;
        margin-bottom: 35px;
    }
}

.howto__title {
    position: relative;
    &::after {
        @include pseudo;
        width: 13px;
        height: 13px;
        background-image: url("../img/icons/right-arrow-forward.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        opacity: 0.4;
        right: -70px;
        top: 4px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}

