.pagination--position-end {
    margin-bottom: 50px;
}

.pagination__list {
    @include list-norm;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pagination__item {
    width: 45px;
    height: 45px;
    margin-right: 8px;
    text-align: center;
    background-color: $bg-color;
    transition: all .25s ease-in;
    border: 1px solid $border-gray;
    border-radius: 50%;
    &:hover {
       background-color: $accent; 
       border-color: $accent;
       opacity: 1;
    }
    &:last-of-type {
        margin-right: 0;
    }
}

.pagination__item--type-arrow {  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    @media (max-width: 768px) {
        box-shadow: 0px 5px 27px 0 rgba(21, 21, 26, 0.12);
    }
}

.pagination__item--type-arrow-left {
    background-image: url("../img/icons/go-back-left-arrow.svg");
}

.pagination__item--type-arrow-right {
    margin-right: 0;
    background-image: url("../img/icons/right-arrow-forward.svg");
}

.pagination__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    
    line-height: 45px;
    color: $text-dark;
    
}



