.reviews-section {
    padding-bottom: 75px;
    @media (max-width: 768px) {
        padding-bottom: 25px;
    }
}

.reviews-section .page-title {
    margin: 0;
    padding: 0;
    padding-top: 43px;
    margin-bottom: 10px;
    text-align: center;
    @media (max-width: 600px) {
        padding-top: 26px;
    }
}


.reviews-section__note {
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding-bottom: 38px;
    text-align: center;
    color: #1f2026;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.reviews__list {
    @include list-norm;
}

.reviews__item {
    width: 370px;
    border-radius: 12px;
    box-shadow: 0px 15px 54px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ecedef;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    @media (max-width: 600px) {
        padding: 25px;
    }

}

.reviews__title {
    font-family: $firasans-bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.reviews__date {
    font-size: 13px;
    color: #777a84;
    margin-bottom: 5px;
}

.reviews__text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #22242b;
    height: 109px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviews__rate {
    display: flex;
}

.reviews__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -20px;
    @media (max-width: 600px) {
        left: 50%;
        margin-left: -48px;
    }
}

.star {
    width: 15px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
    &.active {
        background-image: url("../img/icons/star.svg");
    }
    &.inactive {
        background-image: url("../img/icons/star-inactive.svg");
    }
}

.reviews__social-link {
    margin-top: -3px;
    @media (max-width: 600px) {
        position: absolute;
        right: 25px;
    }
}

.reviews__social-link .social__icon--vk {
    fill: rgba(0, 0, 0, 0.16);
    transition: all 0.25s ease-in;
    &:hover {
        fill: rgba(0, 0, 0, 0.7);
    }
}

.reviews__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reviews__head-text {
    padding-left: 65px;
    margin-bottom: 20px;
    @media (max-width: 600px) {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 76px;
        width: 100%;
    }
}

.reviews__img-slide {
    display: none;
    @media (max-width: 768px) {
        display: block;
        text-align: center;
        
        margin: 0 auto;
        margin-top: 20px;
    }

}

