.reviews-section {
    padding-bottom: 75px;
    @media (max-width: 768px) {
        padding-bottom: 25px;
    }
}

.reviews-section .page-title {
    margin: 0;
    padding: 0;
    padding-top: 43px;
    margin-bottom: 10px;
    text-align: center;
    @media (max-width: 600px) {
        padding-top: 26px;
    }
}

.reviews-section__note {
    margin: 0;
    padding: 0;
    font-size: 18px;
    padding-bottom: 38px;
    text-align: center;
    color: #1f2026;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.reviews__list {
    @include list-norm;
}

.reviews__item-wrapper {
    padding: 30px 20px;
    @media (max-width: 768px) {
    }
}

.reviews__item {
    border-radius: 12px;
    box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ecedef;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    @media (max-width: 600px) {
        padding: 25px;
    }

}

.reviews__title {
    font-family: $firasans-bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

.reviews__date {
    font-size: 13px;
    color: #777a84;
    margin-bottom: 5px;
}

.reviews__text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #22242b;
    height: 109px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reviews__rate {
    display: flex;
}

.reviews__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -20px;
    @media (max-width: 600px) {
        left: 50%;
        margin-left: -48px;
    }
}

.star {
    width: 15px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 3px;
    &.active {
        background-image: url("../img/icons/star.svg");
    }
    &.inactive {
        background-image: url("../img/icons/star-inactive.svg");
    }
}

.reviews__social-link {
    margin-top: -3px;
    @media (max-width: 600px) {
        position: absolute;
        right: 25px;
    }
}

.reviews__social-link .social__icon--vk {
    fill: rgba(0, 0, 0, 0.16);
    transition: all 0.25s ease-in;
    &:hover {
        fill: rgba(0, 0, 0, 0.7);
    }
}

.reviews__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reviews__head-text {
    padding-left: 65px;
    margin-bottom: 20px;
    @media (max-width: 600px) {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 76px;
        width: 100%;
    }
}

.reviews__img-slide {
    display: none;
    @media (max-width: 600px) {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

}

.reviews-section .glide__arrow {
    @media (max-width: 1370px) {
        bottom: -60px;
        top: auto;
    }
}

.reviews-section .glide__arrows {
    @media (max-width: 600px) {
        display: none;
    }
}

.reviews-section .pagination {
    display: none;
    @media (max-width: 600px) {
        display: block;
        margin-top: -50px;
    }
}

.reviews-section .pagination--position-end {
    margin-bottom: 0;
}


// styles for page reviews

.page-title--reviews {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    margin-bottom: 22px;
}

.reviews {
    margin-bottom: 8px;
}

.reviews__header-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 55px;
}

.reviews__button {
    flex-shrink: 1;
    @media (max-width: 768px) {
        margin: 20px auto 0;
    }
    @media (max-width: 425px) {
        width: 100%;
    }
}

.reviews__button--down {
    display: none;
    @media (max-width: 425px) {
        display: block;
        width: 100%;
    }
}

.reviews__header-info p {
    max-width: 70%;
    line-height: 24px;
    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.reviews .reviews__head {
    justify-content: flex-start;
}

.reviews .reviews__item {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 15px 54px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #ecedef;
    background-color: #ffffff;
    padding: 30px;
    padding-right: 40px;
    position: relative;
    margin-bottom: 60px;
    margin-left: 15px;
    @media (max-width: 768px) {
        padding: 25px 0;
        margin-left: 0;
    }
}

.reviews .reviews__img {
    @media (max-width: 768px) {
        left: 50%;
        margin-left: -48px;
        top: -30px;
    }
}

.reviews .reviews__social-link {
    @media (max-width: 768px) {
        position: absolute;
        right: 25px;
    }
}

.reviews .reviews__head-text {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    @media (max-width: 768px) {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 56px;
        width: 100%;
        margin-bottom: 25px;
    }
}

.reviews .reviews__date {
    @media (max-width: 768px) {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}

.reviews .reviews__title {
    margin-right: 10px;
    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.reviews .reviews__rate-row {
    width: 72%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 12px;
        @media (max-width: 768px) {
            margin-bottom: 5px;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
        background-color: $light-blue;
        flex-wrap: wrap;
        padding: 16px 25px 0;
    }
}

.reviews .reviews__rate-item {
    @media (max-width: 768px){
        width: 40%;
        margin-bottom: 15px;
    }
}

.reviews .reviews__rate-item:nth-of-type(even) {
    @media (max-width: 768px) {
        text-align: right;
    }
}

.reviews .reviews__rate {
    margin-right: 10px;
    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.reviews .reviews__rate-item:nth-of-type(even) .reviews__rate {
    @media (max-width: 768px) {
        justify-content: flex-end;
    }
} 

.general {
    margin-right: 20px;
    p {
        font-size: 13px;
        font-family: $firasans-bold;
        color: $text-dark;
    }
    @media (max-width: 768px) {
        margin-right: 0;
    }
}

.general .star {
    width: 19px;
    height: 18px;
}

.reviews .reviews__text {
    height: auto;
    @media (max-width: 768px) {
        padding: 0 25px;
        text-align: center;
    }
}