// fonts
$firasans: "FiraSans-Regular", helvetica, sans-serif;
$firasans-light: "FiraSans-Light", helvetica, sans-serif;
$firasans-thin: "FiraSans-Thin", helvetica, sans-serif;
$firasans-bold: "FiraSans-Bold", helvetica, sans-serif;
$firasans-italic: "FiraSans-Italic", helvetica, sans-serif;
$firasans-medium: "FiraSans-Medium", helvetica, sans-serif;
$firasans-semibold: "FiraSans-SemiBold", helvetica, sans-serif;
$firasans-extrabold: "FiraSans-ExtraBold", helvetica, sans-serif;
$firasans-black: "FiraSans-Black", helvetica, sans-serif;

// colors
$bg-color: #ffffff;
$bg-accent: #fbefba;
$text-dark: #030715;
$text-color: #28292c;
$text-gray: #5a5d66;
$text-light: #979cad;
$text-green: #078410;
$text-blue: #0d61b5;
$hover: #fa5b63;


$accent: #f4d75c;
$accent-dark: #ffbb3c;
$accent-light: #fbefba;
$opposite: #2b2a7b;
$opposite-light: #dde6ef;
$opposite-lighter: #edf2f5;

$input-wrong: #f96d62;
$input-gray: #f8f9fa;
$border-gray: #d3d5dc; 
$light-blue: #eef6fa;

