.workflow {
    background-color: $light-blue;
    padding-bottom: 38px;
}

.workflow--index {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto;
}

.workflow--index .container {
    padding-top: 100px;
    padding-bottom: 90px;
}

.workflow .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workflow .page-title {
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    @media (max-width: 768px) {
        margin-bottom: 25px;
    }
}

.workflow__list {
    @include list-norm;
    background-image: url("../img/workflow.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
    background-size: contain;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    @media (max-width: 768px) {
        background-image: none;
        flex-direction: column;
    }
}


.workflow__item {
    text-align: center;
    max-width: 24%;
    @media (max-width: 768px) {
        max-width: 100%;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;
    }
}

.workflow__item--down {
    padding-top: 140px;
    @media (max-width: 1024px) {
        padding-top: 110px;
    }
    @media (max-width: 768px) {
        padding-top: 0;
    }
}

.workflow__item--check {
    padding-right: 40px;
}
.workflow__item--pay {
    padding-right: 40px;
}

.workflow__item--time {
    padding-right: 65px;
}

.workflow__item--check,
.workflow__item--pay,
.workflow__item--time {
    @media (max-width: 768px) {
        padding-right: 0;
    }

}


.workflow__icon {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    border: 5px solid $bg-color;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    @media (max-width: 768px) {
        border: 0;
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }
}

.workflow__title {
    font-size: 16px;
    font-family: $firasans-bold;
    line-height: 18px;
    color: $text-blue;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    @media (max-width: 768px) {
        padding-top: 10px;
    }
}

.workflow__text {
    padding: 0;
    margin: 0;
    color: $text-dark;
}